<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>TheCube</title>
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type = "text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
</head>
<body>
    <div class = 'content'>
        <div class = 'header'>
        </div>
        <div class = 'main'>
		Привет! Сыграйте в игру. Нужно просто выжить. <a href ='../registration'>Пройди регистрацию</a> и скачай приложение. Главное - не умереть.
        </div>
        <div class = 'footer'>
        </div>
    </div>
</body>
</html>
